.form{
    width: 100%;
    padding: 60px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #D0E7FB;
}

.formItem{
    width: 40%;
}

@media(max-width:1200px) {
    .form {padding: 30px;}
  }

  @media(max-width:992px) {
    .formItem {width: 100%;
    margin-bottom: 20px;}
    
  }