.weather{
  background-color: #9DCFFB;
    padding: 60px;
    min-height: 100vh;
  }
  .weaterBox{
    width: 300px;
    position: relative;
    margin: 0 auto;
  }
  .error {
    width: 200px;
    border: 2px solid red;
    margin: 0 auto;
    border-radius: 8px;
  }

  .errorText {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin: 8px;
  }

  .input{
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
    border: none;

  }

  .btnSearch {
    display: block;
    margin: 16px auto;
    width: 160px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 4px;
  }

  .title{
 font-size: 24px;
 font-weight: bold;
  }

  .weathetImg{
    width: 80px;
    position: absolute;
    top: 60px;
    right: 20px;
  }

  .form{
    text-align: center;
  }
  @media(max-width:992px) {
    .weather{ padding: 20px;}
  }