.userBox {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9DCFFB;
  margin-bottom: 12px;
  border-radius: 12px;
}
.userActive {
  background-color:#57A5EA;
  font-weight: bold;
  color: #ffffff;
 }

.username {
    font-size: 16px;
    margin: 0;
}

.btn{
    cursor: pointer;
    padding: 4px 12px;
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: #D0E7FB;
}

