.preloader {
 
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.imgBox{
    width: 170px;
    height: 22px;
    margin: auto;
    padding: 1px;
    
}

img{
    width: 100%; 
}

