.header {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color:#17355d;
    display: flex;
    justify-content: center;
    z-index: 100;
 
  
}
.container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
